* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header,
nav,
main,
section,
aside,
footer {
  padding: 20px;
  border: 1px solid #000000;
  color: #ffffff;
}

header {
  background: #10d3b9;
}

nav {
  background: #94f8da;
}

nav a {
  display: inline-block;
  padding: 10px;
}

main {
  background-color: #9a1293;
}

section {
  background: green;
}

aside {
  background: #ff3322;
}

.margin-top20 {
  margin-top: 20px;
}

footer {
  background: grey;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 640px) {
  main {
    display: grid;
    grid-template-areas:
      "header header"
      "content sidebar";
    gap: 20px;
  }
  h1 {
    grid-area: header;
  }
  section {
    margin: 0;
  }
  section:nth-of-type(4) {
    grid-area: content;
  }

  aside {
    grid-area: sidebar;
  }
}
